# Игнорируем бинарные файлы и исполняемые фйлы
*.exe
*.out
*.app

# Игнорируем скомпилированные файлы
*.test
*.prof

# Игнорируем каталоги с бинарными файлами и библиотеками
bin/
pkg/

# Игнорируем конфигурационные файлы
*.yaml
*.yml

# Игнорируем временные файлы и папки
*.swp
.DS_Store
Thumbs.db

# Игнорируем файлы с личной информацией
.env
secrets.toml

# Игнорируем файлы и папки, созданные при запуске Go
.idea/
.vscode/

